<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!-- ELIMINE ESTE REPLACE PROQUE 
        LLAMABA TODO EL HEADER DE PLANTILLA EN MANEJO CLIENTE-->
    <!-- <head th:replace="~{layout/plantilla :: head}">-->
    <title>Lavado de Autos</title>
    <img src="../Imagenes/car-service.png" width="90"/>
</head>
<body>
    <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-3">   
                    <button 
                        type="button" 
                        class="btn btn-success btn-block bg-dark text-white" 
                        data-bs-toggle="modal" 
                        data-bs-target="#agregarCita">
                        <i class="fas fa-plus"></i> [[#{cita.agregar}]]
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- 2 Fragmento para agregar registro, es la ventana modal -->
    <section th:fragment="agregarCita">
        <div id="agregarCita" 
             class="modal fade" 
             tabindex="-1" 
             aria-labelledby="exampleModalLabel" 
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white mb-3">      
                        <img src="/Imagenes/usuario.png" width="90"/> 
                        <br>
                            <h5 class="modal-title">[[#{cita.agregar}]]</h5>        
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/cita/guardar}" th:object="${cita}"
                          method="POST" class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="nombre">[[#{cliente.nombre}]]</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="nombre" 
                                       required="true" 
                                       placeholder="Digite nombre del cliente que tiene asignado la cita" 
                                       style ="background-color: lightblue"/>
                            </div>
                            <div class="mb-3">
                                <label for="apellidos">[[#{apellidos.cliente}]]</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="apellidos" 
                                       required="true" 
                                       placeholder="Digite el apellido del cliente"  
                                       style ="background-color: lightblue"/>
                            </div> 
                            <div class="mb-3">
                                <label for="correo">[[#{correo.cliente}]]</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="correo" 
                                       required="true" 
                                       placeholder="Digite el correo electronico" 
                                       style ="background-color: lightblue"/>
                            </div>
                            <div class="mb-3">
                                <label for="telefono">[[#{cita.placa}]]</label>
                                <input type="int" 
                                       class="form-control" 
                                       name="telefono" 
                                       required="true" 
                                       />
                            </div>
                            <div class="mb-3">
                                <label for="activo">[[#{cita.activo}]]</label>
                                <input class="form-check-input" 
                                       type="checkbox" 
                                       name="activo" 
                                       id="activo" 
                                       style ="background-color: lightblue" checked/>
                            </div>
                            <div class="mb-3">
                                <label for="imagen">[[#{registro.rutaImagen}]]</label>
                                <input class="form-control" 
                                       type="file" 
                                       name="imagenFile" 
                                       onchange="readURL(this);" style ="background-color: lightblue"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                        </div>
                        <div class="modal-footer"placeholder="Digite el numero de telefono" > 
                            <button class="btn btn-success bg-dark text-white" type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- 3 Sección principal para mostrar la informaccion de la entidad registro -->
    <section th:fragment="listadoCitas" id="citas">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header bg-primary text-white mb-3">
                            <h4>[[#{cita.listado}]]</h4>
                        </div>
                        <div th:if="${cita != null and !cita.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr><th>#</th>
                                        <th>[[#{cita.nombre}]]</th>
                                        <th>[[#{apellidos.cliente}]]</th>
                                        <th>[[#{correo.cliente}]]</th>
                                        <th>[[#{telefono.cliente}]]</th>
                                        <th>[[#{cita.activo}]]</th>
                                        <th></th></tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cita, contador : ${citas}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${cliente.nombre}]]</td>
                                        <td>[[${cliente.apellidos}]]</td>
                                        <td>[[${cliente.correo}]]</td>
                                        <td>[[${cliente.telefono}]]</td>
                                        <td th:text="${cita.activo} ? 'Activa' : 'Inactiva'" />

                                        <td><a th:href="@{/cita/eliminar/}+${cita.idCita}"
                                               class="btn btn-danger">
                                                <i class="fas fa-trash"></i> [[#{accion.eliminar1}]]</a>
                                            <a th:href="@{/cita/modificar/}+${cita.idCita}"
                                               class="btn btn-success">
                                                <i class="fas fa-pencil"></i> [[#{accion.actualizar1}]]</a></td>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${citas == null or citas.empty}">
                            <span>[[#{lista.vacia}]]</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>[[#{total.cita}]]</h3>
                            <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalCitas}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- AGREGAR EL >> 4 Fragmento que se utiliza en la página modifca.html -->
    <section th:fragment="editarCita">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="POST"
                      th:action="@{/cita/guardar}" 
                      th:object="${cita}"
                      class="was-validated"                          
                      enctype="multipart/form-data">
                    <input type="hidden" name="idCita" th:field="*{idCita}"/>
                    <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                    <section th:replace="~{cita/manejoCita :: botonesEditar}"/>
                    <div id=details>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header bg-primary text-white mb-3">
                                            <h4>[[#{accion.actualizar1}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label for="nombre">[[#{cita.nombre}]]</label>
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="nombre" 
                                                       th:field="*{nombre}"
                                                       required="true"
                                                       placeholder="Digite nombre del cliente que tiene asignada la cita" 
                                                       style ="background-color: lightblue">
                                            </div>

                                            <div class="mb-3">
                                                <label for="apellidos">[[#{apellidos.cliente}]]</label>
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="apellidos" 
                                                       th:field="*{apellidos}"
                                                       required="true"
                                                       placeholder="Digite el apellido del cliente"  
                                                       style ="background-color: lightblue">
                                            </div>
                                            <div class="mb-3">
                                                <label for="correo">[[#{correo.cliente}]]</label>
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="correo" 
                                                       th:field="*{correo}"
                                                       required="true"
                                                       placeholder="Digite el correo electronico" 
                                                       style="background-color: lightblue">
                                            </div>
                                            <div class="mb-3">
                                                <label for="telefono">[[#{telefono.cliente}]]</label>
                                                <input type="number" 
                                                       class="form-control" 
                                                       name="telefono" 
                                                       th:field="*{telefono}"
                                                       required="true"
                                                       placeholder="Digite el numero de telefono" 
                                                       style ="background-color: lightblue">
                                            </div>

                                            <div class="mb-3">
                                                <label for="activo">[[#{cita.activo}]]</label>
                                                <input class="form-check-input" 
                                                       type="checkbox" 
                                                       name="activo" 
                                                       id="activo"
                                                       th:field="*{activo}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="imagen">[[#{registro.rutaImagen}]]</label>
                                                <input class="form-control" 
                                                       type="file" 
                                                       name="imagenFile"
                                                       onchange="readURL(this);" style ="background-color: lightblue"/>
                                                <img id="blah" th:src="@{${cita.rutaImagen}}" alt="your image" height="200"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </section>
    <!-- AGREGAR EL >> 5 Fragmento que se utiliza en el fragmento anterior -->
    <section th:fragment="botonesEditar">
        <div class="container py-4 mb-4 bg-light">
            <div class="row">
                <div class="col-md-4 d-grid">
                    <a th:href="@{/cita/listado}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-4 d-grid">                                
                    <a th:href="@{/cita/eliminar/}+${cita.idCita}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i> [[#{accion.eliminar1}]]
                    </a>
                </div>
                <div class="col-md-4 d-grid">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
            </div>
        </div>
    </section>


</body>
</html>