<!-- xmlns=" se le indica la nomenclatura que usarems -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head"> 
    </head>

    <body>

        <!--<header th:replace="layout/plantilla :: header"/>  ELIMINE ESTE REPLACE PROQUE 
        LLAMABA TODO EL HEADER DE PLANTILLA EN MANEJO CLIENTE-->
        <!-- fragmento llamado de ManejoCliente agregar,listado -->
        <section th:replace="cliente/manejoCliente :: botonesAgregar" />
        <section th:replace="cliente/manejoCliente :: agregarCliente" />
        <section th:replace="cliente/manejoCliente :: listadoClientes" />


        <footer th:replace="layout/plantilla :: footer"/> 

    </body>
</html>