<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head"> 
    </head>

    <body>

        <header th:replace="layout/plantilla :: header"/> 
        
        <section th:replace="consulta/manejoConsulta :: editarConsulta"/>
        <section th:replace="consulta/manejoConsulta :: botonesAgregar" />
        <section th:replace="consulta/manejoConsulta :: botonesEditar" />
        <section th:replace="consulta/manejoConsulta :: agregarConsulta" />
        <section th:replace="consulta/manejoConsulta :: listadoConsultas" />

        <footer th:replace="layout/plantilla :: footer"/> 

    </body>
</html>
