<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <title>Lavado de Autos</title>

</head>
<body>
    <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-3">   
                    <button 
                        type="button" 
                        class="btn btn-success btn-block bg-dark text-white" 
                        data-bs-toggle="modal" 
                        data-bs-target="#agregarConsulta">
                        <i class="fas fa-plus"></i> [[#{consulta.agregar}]]
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- 2 Fragmento para agregar registro, es la ventana modal -->
    <section th:fragment="agregarConsulta">
        <div id="agregarConsulta" 
             class="modal fade" 
             tabindex="-1" 
             aria-labelledby="exampleModalLabel" 
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white mb-3">      
                        <br>
                            <h5 class="modal-title">[[#{consulta.agregar}]]</h5>        
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/consulta/guardar}" th:object="${consulta}"
                          method="POST" class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="nombre">[[#{consulta.nombre}]]</label>
                                <input type="text" class="form-control" name="nombre" required="true" placeholder="Digite su nombre completo" style ="background-color: lightblue"/>
                            </div>
                            <div class="mb-3">
                                <label for="pregunta">[[#{consulta.pregunta}]]</label>
                                <input type="text" class="form-control" name="pregunta" required="true" placeholder="Digite su consulta"  style ="background-color: lightblue"/>
                            </div>
                            <div class="mb-3">
                                <label for="correo">[[#{consulta.correo}]]</label>
                                <input type="text" class="form-control" name="correo" required="true" placeholder="Digite el correo electronico" style ="background-color: lightblue"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success bg-dark text-white" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 Sección principal para mostrar la informaccion de la entidad registro -->
    <section th:fragment="listadoConsultas" id="consultas">
        <div class="container" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- Escondemos la ancla solo para admin -->
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header bg-primary text-white mb-3">
                            <h4>[[#{consulta.listado}]]</h4>
                        </div>
                        <div th:if="${consultas != null and !consultas.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr><th>#</th>
                                        <th>[[#{consulta.nombre}]]</th>
                                        <th>[[#{consulta.pregunta}]]</th>
                                        <th>[[#{consulta.correo}]]</th>
                                        <th>[[#{accion.acciones}]]</th>
                                        <th></th></tr>
                                </thead>
                                <tbody>
                                    <tr th:each="consulta, contador : ${consultas}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${consulta.nombre}]]</td>
                                        <td>[[${consulta.pregunta}]]</td>
                                        <td>[[${consulta.correo}]]</td>



                                        <td><a th:href="@{/consulta/eliminar/}+${consulta.idConsulta}"
                                               class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- Escondemos la ancla solo para admin -->
                                                <i class="fas fa-trash"></i> [[#{accion.eliminarC}]]</a>
                                            <a th:href="@{/consulta/modificar/}+${consulta.idConsulta}"
                                               class="btn btn-success" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- Escondemos la ancla solo para admin -->
                                                <i class="fas fa-pencil"></i> [[#{accion.actualizarC}]]</a></td>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${consultas == null or consultas.empty}">
                            <span>[[#{lista.vacia}]]</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>[[#{total.consultas}]]</h3>
                            <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalConsultas}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- AGREGAR EL >> 4 Fragmento que se utiliza en la página modifca.html -->
    <section th:fragment="editarConsulta">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="POST"
                      th:action="@{/consulta/guardar}" 
                      th:object="${consulta}"
                      class="was-validated"                          
                      enctype="multipart/form-data">
                    <input type="hidden" name="idConsulta" th:field="*{idConsulta}"/>

                    <section th:replace="~{consulta/manejoConsulta :: botonesEditar}"/>
                    <div id=details>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header bg-primary text-white mb-3">
                                            <h4>[[#{accion.actualizarC}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label for="nombre">[[#{consulta.nombre}]]</label>
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="nombre" 
                                                       th:field="*{nombre}"
                                                       required="true"
                                                       placeholder="Digite nombre del cliente que tiene la consulta"
                                                       style ="background-color: lightblue">
                                            </div>

                                            <div class="mb-3">
                                                <label for="pregunta">[[#{consulta.pregunta}]]</label>
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="pregunta" 
                                                       th:field="*{pregunta}"
                                                       required="true"
                                                       placeholder="Digite el pregunta del cliente"  
                                                       style ="background-color: lightblue">
                                            </div>

                                            <div class="mb-3">
                                                <label for="correo">[[#{consulta.correo}]]</label>
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="correo" 
                                                       th:field="*{correo}"
                                                       required="true"
                                                       placeholder="Digite su correo" 
                                                       style="background-color: lightblue">
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </section>
    <!-- AGREGAR EL >> 5 Fragmento que se utiliza en el fragmento anterior -->
    <section th:fragment="botonesEditar">
        <div class="container py-4 mb-4 bg-light">
            <div class="row">
                <div class="col-md-4 d-grid">
                    <a th:href="@{/consulta/listado}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-4 d-grid">                                
                    <a th:href="@{/consulta/eliminar/}+${consulta.idConsulta}"
                       class="btn btn-danger">
                        <i class="fas fa-trash"></i> [[#{accion.eliminar1}]]
                    </a>
                </div>
                <div class="col-md-4 d-grid">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
            </div>
        </div>
    </section>


</body>
</html>