<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">

    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div style = "text-align: center;">
            <br>
                <h3> Bienvenidos a Car Wash CR
                    En este sitio web podrá:
                </h3>
                <br>
                    <p> 1. Agregar un cliente nuevo</p>
                    <p> 2. Borrar clientes existentes</p>
                    <p> 3. Buscar clientes existentes</p>
                    <p> 4. Agendar citas</p>
                    <p> 5. Cancelar citas</p>
                    <p> 6. Elegir el tipo de lavado</p>
                    <p> 7.Visualizar clientes premium</p>
                    </div>
                    </body>
    
                    <footer th:replace="layout/plantilla :: footer" />
                    </html>
